
#body
{
    margin: 0px;
    font-family: "Arabic Typesetting", Helvetica, sans-serif;
}
#container
{
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
    background-color: #5DBCD2;
    padding-top: 30px;
}
#header
{
    width: 80%;
    height: 106px;
    margin: 0 auto 0;
    background-color:white;
}
#footer
{
    width: 80%;
    height: 150px;
    margin: 0 auto 0;
    background-color: rgb(186, 175, 197);
    clear: both;
}
#up
{
    width: 72%;

    margin: 0 auto 0;

}
#down
{
    width: 67.5%;
    height: 300px;
    margin: 0 auto 0;
    background-color:#ffffff;
}
#p
{
    text-align: center;
    margin-top: 50px;
}
#form
{
    width: 60%;
    height: 600px;
    margin: 0 auto 0;



}
.logInbtn {
    float: left;
    width: 50%;
}


.Contents
{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 30px;
}
.topBar {
    overflow: hidden;
    background-color: #333;
    float: left;
}
.topBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topBar_right {
    overflow: hidden;
    background-color: #333;
    float: right;
}
.topBar_right a {
    float: left;
    color: #5DBCD2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topBar a:hover {
    background-color: #ddd;
    color: black;
}

.topBar a.active {
    background-color: #4CAF50;
    color: white;
}
#showPost h1 , h2 , a{
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    font-family:"Bodoni MT Black" ;
}