{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}
    {{ "اضافه نمودن پست جدید"}}
{% endblock %}
{% block up %}
    <hr>
    <h1>پست جدید را اضافه کنید : </h1>
    <hr>
    {{ form(form) }}
{% endblock %}
