{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}
    {{ "ویرایش محصول"}}
{% endblock %}
{% block up %}
    <hr>
    <h1>ویرایش اطلاعات : </h1>
    <hr>
    {{ form(form) }}
{% endblock %}