<!DOCTYPE html>
<html>
{% block head_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('/base.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body id="body">
    <div id="header">
        <div class="topBar">

            <a href="{{ path('create_product_by_admin')}}">خانه</a>
            <a href="{{ path('create_product_by_admin')}}">لیست سفارشات شما</a>
            <a href="{{ path('create_product_by_admin')}}">ثبت نام</a>
            <a href="{{ path('create_product_by_admin')}}">ورود به سایت</a>
            <a href="{{ path('create_product_by_admin')}}">مدیریت محصولات</a>
            <a href="{{ path('create_product_by_admin')}}">مشاهده سفارشات</a>
        </div>
            {% block bar %}
            {% endblock %}

    </div>

        <div id="up">
            {% block up %}
            {% endblock %}

    </div>


{% block javascripts %}

{% endblock %}
</body>
</html>
