{% extends 'base.html.twig' %}
{% block title %}
    {{ "Home"}}
{% endblock %}
{% block up %}
    <hr>
    <h1>جستجو محصول :</h1>
    <hr>
  {{ render(controller('App\\Controller\\SearchProductController::searchBar')) }}
    <hr>
    {% for product in products %}
        <div style="border:20px solid #ccc " id="showPost">
            
            <img src="{{ asset('uploads/images/'~ product.image) }}" width="750" height="400">
            <hr>
            <hr>
            <label><h1>نام محصول  :</h1></label>
            <p>{{ product.name }}</p>

            <label><h1>قیمت محصول (تومان) : </h1></label>
            <p>{{ product.price }}</p>

            <label><h1>توضیحات : </h1></label>
            <p>{{ product.Description }}</p>

            <a href="{{ path('edit_product_by_admin',{id: product.id}) }}">ویرایش محصول</a>
            <a href="{{ path('remove_product_by_admin',{id: product.id}) }}">حذف محصول</a>
        </div>

    {% endfor %}

{% endblock %}